:root {
    --black: #242E3A;
    --white: #ffffff;
    --liteGray: #e7e8e8;
    --darkGray: #C9CBCB;
    --cyan: #3db7b0;
    --darkCyan: #00788a;
    --yellow: #ffdd00;
    --blue: #0096db;
  }
  


  .primary-color {
    color: $primary_color;
    font-weight: 700;
  }

  .blog-post li {
    list-style-type: disc;
    margin-left: 1.1em;
}

  html {
    /* background: #f5f7f8; */
    -webkit-font-smoothing: antialiased;
    padding: 0;
    
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
  }

  #skiptocontent a {
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: -40px;
    left: 0px;
    color: #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-bottom-right-radius: 8px;
    background: $primary_dark;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
  }
  #skiptocontent a:focus {
    position: absolute;
left: 0px;
top: 0px;
outline: 0;
-webkit-transition: top .1s ease-in;
transition: top .1s ease-in;
z-index: 999999;
}

  a {
    color: $primary_color;
  }

  a:hover {
    color: $primary_dark;
  }


  p a {
    color: $primary_color;
    font-weight: 700;
    text-decoration: underline;
  }

 
  header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
  }
  
#navigation {
          position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: $primary_color;
  }
  
// .container {
//   padding-left: 10px;
//   padding-right: 10px;
// }



  .contents-nav {
    margin-top: auto;
    margin-left: auto;
    display: none;

  }
  

  .contents-nav .dropdown-menu {
    min-width: 20rem;
    padding: 1rem;
    padding-left: 3rem;
    text-indent: -2rem;
}
.dropdown-menu li {
    margin-bottom: 1rem;
}

// Burger menu styles 

.navbar-dark .navbar-toggler {
  border: none;
}
.navbar-toggler {
  padding-right: 0px;
}

.burger-menu ul {
padding-top: 2rem;
}

.burger-menu li {
  text-indent: -1.9em;
  padding-left: 2em;
  padding-bottom: 0.3rem;
}

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #e65100;
  }
  
  .animated-icon2 span {
  background: #e3f2fd;
  }
  
  .animated-icon3 span {
  background: #f3e5f5;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  /* Icon 4 */
  
  .animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
  }
  
  .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }
  
  .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
  }



   /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  right: -30rem;
  width: 30rem;
  padding-top: 10rem;
  background: rgba(52, 58, 64, 0.9);
  // background: rgba(34, 34, 34, 0.9);
  transition: 0.4s;
  max-width: 75vw;
}


.nav-menu .aside-num {
  padding-right: 1rem;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a {
  display: block;
  position: relative;
  color: $light_gray;
  padding: 10px 20px;
  font-weight: 500;
  transition: 0.3s;
  text-indent: -2.1rem;
  padding-left: 4rem;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: $primary_color;
  text-decoration: none;
}

.nav-menu .drop-down > a:after {
  content: "\e9ac";
  font-family: "boxicons";
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.nav-menu .active.drop-down > a:after {
  content: "\e9ac";
}

.nav-menu .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down ul {
  display: none;
  overflow: hidden;
}

.nav-menu ul.drop-down-active {
  display: block;
}

.nav-menu .drop-down li {
  padding-left: 20px;
}

.nav-menu-active {
  right: 0;
}

.nav-toggle {
  position: fixed;
  right: calc(2.5rem + 15px);
  top: 3.1rem;
  margin-right: auto;
  z-index: 9998;
  border: 0;
  background: rgba(34, 34, 34, 0.5);
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  padding: 12px 12px;
  border-radius: 2px;
}

.nav-toggle i {
  color: #fff;
  font-size: 18px;
}

.nav-toggle-active {
  // right: 2rem;
  // position: fixed;
  // right: 25rem;
  // margin-right: 1rem;
  z-index: 999999999999;
}











.aside-num {
  padding-right: 1rem;
}

  
  h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: var(--black);
  }
  
  .master-title h1 {
    font-size: 1rem;
  }
  
  .master-title {
    float: right;
  }
  
  .homeTitle {
    margin-bottom: 2rem;
  }


  .article-num {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    align-self: flex-end;
    margin-bottom: 0.3rem;
  }

  
  
  .num {
    padding-left: 0;
  }
  
  .art-num {
    font-size: 1.3rem;
   
  }
  
  .num-bg {
    background-color: var(--liteGray);
  
  }
  
  .hash {
    color: var(--white);
    font-family: depot-new-web, sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  // .article-cards {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
    
  // }

    #article-cards {
      padding: 3px;
    }

  .card-col {
    padding: 12px;
  }
  
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(25% - 1em);
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
  }
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  .card-col a:hover {
    text-decoration: none;
  }
 
  .card-text {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  .card p {
    flex: 1;
    line-height: 1.4;
  }
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #737373;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }
  .card .thumb {
    // background-size: cover;
    background-position: center center;
    max-width: 100%;
  }
  
  .card .num {
    position: absolute;
    color: #fff;
    background-color: #00000099;
    padding: 0.5rem;
  }
  
  .main-img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 300px;
  }
  
  .breadcrumb-bg, .breadcrumb {
    /* background-color: #f5f5f5; */
    background-color: transparent;
    margin-bottom: 2rem;
  }
  
  .breadcrumb-item .active, aside .active {
    color: #737373;
  }
  
  .header-container {
    border-bottom: 1px solid #212121;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 0;
    
  }

  .docTitle {
    align-self: flex-end;
    font-size: 1.3rem;
}
  
  .nes-nav {

    width: 81px;
    padding-right: 1rem;
    margin: 0 1rem 0 0;
    border-right: 1px solid var(--white);
   

}

  #navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .nav-title-container {
      display: flex;
      flex-direction: row;
      align-items: center;

  }

  .nav-title {
      // display: flex;
      // flex-direction: column;
      color: var(--white);
    //   color: var(--black);
      font-size: 1rem;
      
  }
  
  .article-date {
    font-weight: 700;
  }
  
  .nav-brand {
      font-size: 18px;
  }

  .nav-icons  {
    margin-top: auto;
    margin-left: auto;
    
}

  .nav-icons a {
      color: var(--white);
  }
  
  
  .navbar {
    padding: 2rem 1rem;
  }
  
  
  @media (min-width: 60em) {
    .item-1 {
      grid-column: 1/span 2;
    }
    .item-1 h1 {
      font-size: 24px;
    }
  }
  
   .contents-dropdown {
      display: none;
  }

  .highlight-bold {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    
}


.blog-post img {
    // width: 100%;
    padding-bottom: 1rem;
}


.blog-img-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* pagination  */
.page-link {
    background-color: #121417;
    color: #f49d00;
    border-color: #333333;
}

.page-link:hover {
    color: #BF510D;
    
}

.page-item.active .page-link {
    background-color: #f49d00;
    border-color: #f49d00;
    color: #121417;
  
}

.page-item.disabled .page-link {
    background-color: #121417;
    border-color: #333333;
    color: #cccccc;
}

.blockquote {
    border-left: 3px solid $primary_color;
    padding: 1rem;
    margin: 2rem 0;
    // background-color: $primary_light;
    font-size: 1.5rem;
}

.green-para {
  padding: 1rem;
  margin: 2rem 0;
  background-color: $primary_light;
  font-weight: 700;

}



.contents-heading {
  font-weight: 700;
}
.img-fluid {
  height: auto;
  max-width: 100%;
}

.card-img-thumb {
  // height: 21rem;
  overflow: hidden;
}

.card img {
  // height: 240px;
  object-fit: cover;
  object-position: 50% 20%;
  vertical-align: middle;
    border-style: none;
}
.article-number {
  position: absolute;
  background-color: $primary_dark;
  padding: 0.7rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
  right: 0;
}

.col-md-6 .article-number {
  padding: 1rem;
  font-size: 1.5rem;
}
.highlight-col {
  // min-height: 100%;
  background-color: $primary_light;
  padding: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  h3 {
    font-size: 1.5rem;
    color: $primary_dark;
  } 

  img {
    padding-top: 2rem;
  }

}

.green-title {
  color: var(--white);
  background-color: $primary_color;
  font-weight: 900;
  padding: 0rem 0.5rem;
  font-size: 22px;
  font-size: 22px;
  margin-top: 2rem;
}

.article-img-caption {
  background-color: $primary_light;
  color: $primary_dark;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;

  img {
    padding-bottom: 0;
  }

  p {
    margin: 0.5rem 1rem;
    font-weight: 700;
    font-style: italic;
  }

  p:first-of-type {
    padding-top: 0.5rem;
  }

}

.mob-col {
display: block;
}

.desk-col {
  display: none;
}

.highlight-col a {
  white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/* footer  */

footer .container-fluid {
    padding-left: 0;
    padding-right: 0;
}



.footer {
    background-color: $primary_light;
   color: var(--black);
   margin-top: 3rem;
   padding-bottom: 3rem;
    
    
}


.footer-last  {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    // font-size: 1.25rem;
    font-size: 16px;
    text-align: center;
}

.footer-logo-text {
    font-size: 1.5rem;
    line-height: 1rem;
}


.footer a {
    /* color: #f49d00; */
    color: #cccccc;

}

.footer ul {
    padding: 0;
    list-style-type: none;
}

.mob-footer-accordian {
  
    font-size: 1.25rem;
    
}

.mob-footer-accordian a {
    color: var(--black);
    /* text-decoration: underline; */
}

.footer-accordian-header {
 
    background-color: transparent;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 3px solid var(--black);
    text-align: left;
    font-size: 17px;
    letter-spacing: 1px;

}

.footer-accordian-header:focus {
    outline: none;
  
}

.footer .fab {
    width: 7%;
    box-sizing: border-box;
}


.panel-body {
    padding: 1rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}

.logo-container-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-container-footer-mob {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.border-top-footer {
    border-top: 2px solid white;
}

@media only screen and (max-width: 535px) {
    .logo-container-footer {
        justify-content: center;
    }
}

/* iphone 5/SE column logos in footer  */

@media only screen and (max-width: 346px) {
    .logo-container-footer {
        display: none;
    }

}

@media only screen and (min-width: 347px) {
    .logo-container-footer-mob {
        display: none;
    }
}


.logo-text-footer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

}

.logo-text-footer p {
    margin-bottom: 0;
    line-height: 130%;
    font-size: 14px;
    padding-left: 1rem;
}

.nes-footer {
    /* border-left: 2px solid white; */
    min-height: 100%;
}

.border-right-footer {
    border-right: 2px solid #ffffff;
}

.sub-footer {
   
    // border-top: 2px solid #ffffff30;
    background-color: $primary_color;
    color: var(--white);
}



.footer-last a {
    color: #212121;
}

.site-info {
    font-size: 1.5rem;
    font-weight: 500;
}




