:root {
    --black: #242E3A;
    --white: #ffffff;
    --liteGray: #e7e8e8;
    --darkGray: #C9CBCB;
    --cyan: #3db7b0;
    --darkCyan: #00788a;
    --yellow: #ffdd00;
    --blue: #0096db;
  }
  


  html {
    /* background: #f5f7f8; */
    -webkit-font-smoothing: antialiased;
    padding: 0;
    
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
  }
  
  header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
  }
  
#navigation {
          position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  
  h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: var(--black);
  }
  
  .master-title h1 {
    font-size: 1rem;
  }
  
  .master-title {
    float: right;
  }
  
  .article-num {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    align-self: flex-end;
    margin-bottom: 0.3rem;
  }

  
  
  .num {
    padding-left: 0;
  }
  
  .art-num {
    font-size: 1.3rem;
   
  }
  
  .num-bg {
    background-color: var(--liteGray);
  
  }
  
  .hash {
    color: var(--white);
    font-family: depot-new-web, sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  @media (min-width: 30em) {
    .band {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 60em) {
    .band {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
  }
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  .card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  .card p {
    flex: 1;
    line-height: 1.4;
  }
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #737373;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }
  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  .card .num {
    position: absolute;
    color: #fff;
    background-color: #00000099;
    padding: 0.5rem;
  }
  
  .main-img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 300px;
  }
  
  .breadcrumb-bg, .breadcrumb {
    /* background-color: #f5f5f5; */
    background-color: transparent;
    margin-bottom: 2rem;
  }
  
  .breadcrumb-item .active, aside .active {
    color: #737373;
  }
  
  .header-container {
    border-bottom: 1px solid #212121;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 0;
    
  }

  .docTitle {
    align-self: flex-end;
    font-size: 1.3rem;
}
  
  .nes-nav {

    width: 81px;
    padding-right: 1rem;
    margin: 0 1rem 0 0;
    border-right: 1px solid var(--white);
   

}

  #navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .nav-title-container {
      display: flex;
      flex-direction: row;
      align-items: center;

  }

  .nav-title {
      display: flex;
      flex-direction: column;
      color: var(--white);
    //   color: var(--black);
      font-size: 1rem;
      
  }
  
  .article-date {
    font-weight: 700;
  }
  
  .nav-brand {
      font-size: 18px;
  }

  .nav-icons  {
    margin-top: auto;
    margin-left: auto;
    
}

  .nav-icons a {
      color: var(--white);
  }
  
  
  .navbar {
    padding: 1rem 1rem 1rem 1rem;
  }
  
  
  @media (min-width: 60em) {
    .item-1 {
      grid-column: 1/span 2;
    }
    .item-1 h1 {
      font-size: 24px;
    }
  }
  
  .blog-sidebar, .contents-dropdown {
      display: none;
  }

  .highlight-bold {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }




























ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    
}


.blog-post img {
    width: 100%;
    padding-bottom: 1rem;
}


.blog-img-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* pagination  */
.page-link {
    background-color: #121417;
    color: #f49d00;
    border-color: #333333;
}

.page-link:hover {
    color: #BF510D;
    
}

.page-item.active .page-link {
    background-color: #f49d00;
    border-color: #f49d00;
    color: #121417;
  
}

.page-item.disabled .page-link {
    background-color: #121417;
    border-color: #333333;
    color: #cccccc;
}

.blockquote {
    border-left: 3px solid var(--black);
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--liteGray);
}


.contents-heading {
  font-weight: 700;
}



/* footer  */

footer .container-fluid {
    padding-left: 0;
    padding-right: 0;
}



.footer {
    background-color: var(--liteGray);
   color: var(--black);
   margin-top: 3rem;
   padding-bottom: 3rem;
    
    
}


.footer-last  {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    // font-size: 1.25rem;
    font-size: 16px;
    text-align: center;
}

.footer-logo-text {
    font-size: 1.5rem;
    line-height: 1rem;
}


.footer a {
    /* color: #f49d00; */
    color: #cccccc;

}

.footer ul {
    padding: 0;
    list-style-type: none;
}

.mob-footer-accordian {
  
    font-size: 1.25rem;
    
}

.mob-footer-accordian a {
    color: var(--black);
    /* text-decoration: underline; */
}

.footer-accordian-header {
 
    background-color: transparent;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 3px solid var(--black);
    text-align: left;
    font-size: 17px;
    letter-spacing: 1px;

}

.footer-accordian-header:focus {
    outline: none;
  
}

.footer .fab {
    width: 7%;
    box-sizing: border-box;
}


.panel-body {
    padding: 1rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}

.logo-container-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-container-footer-mob {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.border-top-footer {
    border-top: 2px solid white;
}

@media only screen and (max-width: 535px) {
    .logo-container-footer {
        justify-content: center;
    }
}

/* iphone 5/SE column logos in footer  */

@media only screen and (max-width: 346px) {
    .logo-container-footer {
        display: none;
    }

}

@media only screen and (min-width: 347px) {
    .logo-container-footer-mob {
        display: none;
    }
}


.logo-text-footer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

}

.logo-text-footer p {
    margin-bottom: 0;
    line-height: 130%;
    font-size: 14px;
    padding-left: 1rem;
}

.nes-footer {
    /* border-left: 2px solid white; */
    min-height: 100%;
}

.border-right-footer {
    border-right: 2px solid #ffffff;
}

.sub-footer {
   
    // border-top: 2px solid #ffffff30;
    background-color: var(--black);
    color: var(--white);
}



.footer-last a {
    color: #212121;
}

.site-info {
    font-size: 1.5rem;
    font-weight: 500;
}




