@media (min-width: 992px) {



    // .burger-menu {
    //     display: none;
    // }
    // .contents-nav {
    //     display: block;
    // }

    // .desktop-menu {
    //     display: block;
    //   }
      
   


    .blog-sidebar {
        display: block;
        text-indent: -2rem;
        padding-left: 3rem;
    }

    .blog-sidebar li {
        padding: 10px 0;
    }


.contents-col-mob {
    display: none;
}
#article-cards h2 {
    font-size: 1.9rem;
}



footer .container-fluid {
   
    padding: 3rem 15px;
}

.footer {
    padding: 2rem;
}


}