@media (min-width: 992px) {

    .blog-sidebar {
        display: block;
        text-indent: -2rem;
        padding-left: 3rem;
    }
.contents-col-mob {
    display: none;
}




footer .container-fluid {
   
    padding: 3rem 15px;
}

.footer {
    padding: 2rem;
}


}