@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");

// fonts
$font: 'Source Sans Pro', sans-serif;

// Colour
$primary_blue: #004785;
$light_blue: #4cbeed;
$dark_teal: #00788a;
$light_teal: #36bdb2;
$yellow: #ffdd00;
$light_gray: #e6e6e6;
$dark_gray: #444444;